<div>
    <nav class="nav">
        <h1>
            <img class="myntra-logo" src="https://images.indianexpress.com/2021/01/myntra.png" alt="myntra images">
        </h1>
        <ul class="image2">
            <li><a routerLink=""> MEN</a></li>
            <li><a routerLink="women"> WOMEN</a></li>
            <li><a href="#">KID</a></li>
            <li><a href="#"> HOME & LIVING</a></li>

        </ul>

        <div class="nav-search">
            <input type="text" placeholder="Search " />
            <!-- <button> Search</button> -->
        </div>
        <div>
            <ul class="right">
                <li><a routerLink="profile"> Profile</a></li>
                <li><a href="#"> Wishlist</a></li>
                <li><a href="#">bag</a></li>

            </ul>
        </div>
    </nav>

</div>