<div  class="direction">
    <img src="">
    <img class="deal" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/7/c0c4c19e-027b-4b69-ac62-1778304d97061675770360045-03_OMG--Deals-with-out-view-all.jpg"
        alt="alt" />
    <div class="image">

        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/b6f95a7e-25de-4a5a-bf60-aea5edcd432d1674801195560-Ethnic_wear-_Pspeaches_-_Vastramay.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/5a1a66d4-f589-4790-921c-39fb3daa51391674806527947-Virat-s_Favourite_picks_Min_50_OFF-_Wrogn.jpg"
            alt="images">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/e2a65061-b99b-4873-8ac0-c4b626a199f61674806527675-Shirts_Min_60-_M-H-_H-N_-_More.jpg"
            alt="">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/101b4b29-34ce-44bf-8e12-c138254a3fc41674806527786-Top_casual_Styles-_Levi-s-_Tommy_Min_40.jpg"
            alt="">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/f2deb9cb-112d-4546-b95c-7d68828b657f1674806527914-USPA-_FM_Min_60.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/15746eb2-c070-4260-9451-dc073ea90b1e1674801195740-JJ-_Highlander_Min_65.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/c28713cb-9ed4-49ef-bb54-054ef7e2ec631674801195626-Gant-_Nautica_Min_50.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/8cdfa25f-3dc2-49ff-952c-3442326adfa81674801195476-Defacto-_Zalora_upto_60.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/8e3d6bd0-405b-48af-b4bd-1fc3067fa05e1674806527902-Tshirts_STARTING_199_-499-_M-H-_Moda_-_More.jpg"
            alt="image2">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/253ab789-f94c-4b2e-b93c-32143686923d1674801195945-MAC-GWP.jpg"
            alt="img-logo2">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/df1f8331-575c-4d69-9e9e-878f8e4fee741674801195878-Lotus-_Biotique-_more-_Min_25_OFF.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/a9da8df9-2d49-440c-a2cd-30a76cacace71674801195770-Korean_Skin_Care_Essentials-_Innisfree-_The_Face_shop_-_more-_upto_50_OFF-_GIFT_WITH_PURCHASE.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/eaf6c4be-552d-4b2a-ab3a-445cc490ac3c1674806527844-Trendiest_Tops_and_Tees_-Min_60_from_Roadster-_Tokyo_Talkies_-_More.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/01786de9-3995-43a5-9bde-d57e6f9a58c51674801196047-Most_Loved_Dresses_From__Sassafras-_Athena_-_More_-_60-80_OFF.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/5bb33357-0925-41fc-86a3-1583c5abba9f1674806527684-Styles_only_on_Myntra_from_Tokyo_Talkies-_Dressberry_-_more_-Min_60_OFF.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/0e65e94c-df91-4733-9b8a-d89d73d131431674806527808-Top_Picks_from_Street_9-_Berrylush_-_more_-Min_60_OFF.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/2fc5fe63-7877-46e6-ac89-1fc018443e011674801196074-Must_Have_styles_by_Vero_Moda-_ONLY_.jpg"
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/bcd2b336-6674-474d-adca-7258d7b5a8d81674801195709-International_Styles_from_MANGO-_Trendyol_-_more_-Min50_OFF.jpg "
            alt="image">
        <img src="https://assets.myntassets.com/f_webp,w_98,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/165c6536-6ad5-4301-bcdb-aa85ef4d2e971674801196060-Most_Popular_Brands_-Min_50_OFF_from_Levis-_MANGO_-_more.jpg"
            alt="image">
    </div>
    <div class="image" >
        <img class="deal"src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/282fa716-2cfe-478d-b040-f90a4d95d88a1675674656036-04_BUDGET-BUYS.jpg"
            alt="image">
            <div class="image">

                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/28010e9b-2799-470f-946d-267acc5b2bae1675402054091-T-Shirts.jpg"
                    alt="images.png">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/4405bc9a-5603-4d81-a8fd-181bcc8d6fd01675402054022-Shirts.jpg"
                    alt="images.png">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/ab220d72-fb1b-46d7-95eb-25e19dc9095f1675402053929-Jeans.jpg"
                    alt="images.png">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/55ba4531-8aa0-4028-906a-7ffb30cca07d1675402054037-Sports-Shoes.jpg"
                    alt="images.png">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/54cce6d6-d65c-44b2-868a-7a6840572c5e1675402053839-Casual-Shoes.jpg"
                    alt="images.png">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/222cc27c-7694-4b37-a5c6-d3153d61c67a1675402053870-Flip-Flops.jpg"
                    alt="images.png">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/bb27f056-5706-40ab-ba65-6c70815fb3671675402054104-Watches-_-Wearables.jpg"
                    alt="images.png">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/ac25cc40-b3e7-4000-9c04-8cf47bf4707b1675402053964-Kurta-Sets.jpg"
                    alt="img-logo2">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/7fc49c5f-ece4-4a34-949d-3676f6cf08de1675402053851-Dresses.jpg"
                    alt="img-logo2">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/f46e5a5c-5ccc-441e-8035-3c55d66e42c01675402054071-Tops-_-Tees.jpg"
                    alt="img-logo2">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/47f385aa-4dbd-4bdd-b31d-baf22fdbfab81675402053974-Kurtas.jpg"
                    alt="img-logo2">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/babc6d4d-ba96-43d1-b225-43ae7ced08061675402053917-Jeans--1-.jpg"
                    alt="">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/32456579-ba46-44bb-a452-2ef54fd8b2dc1675402053953-Kids-Wear.jpg"
                    alt="img-logo2">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/cdcd0a55-576a-46e8-9d0a-76818d76e5a21675402053859-Flats-_-Heels.jpg"
                    alt="img-logo2">
                <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/3/3c1f0fa4-2b9d-4106-8ae8-fce605d8abbe1675402053883-Home-Furnishings.jpg"
                    alt="img-logo2">
            </div>

    </div>
    <div>
        <img class="deal" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/370f60a6-1deb-499a-b05a-d44eee7374ab1675674656046-05_CELEBRATED-BRANDS.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/e88a4553-480b-45cf-b3ce-661efa39e03f1674798439014-Realme_upto_50_off.png"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/de136129-2bab-49f8-91d3-ed3c6f76b1a21674798439037-Upto_30_Off.jpg"
            alt="">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/09023122-78db-4840-83c8-78496ea478d01674798439092-Upto_55_off.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/d365b5de-96fa-4e18-9695-6051acb9423e1674798439059-Upto_40_Off.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/3a400dac-38a0-4e0b-a54b-6d13878fdb2c1674798439050-Upto_30_Off_1.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/f25a4f87-3a23-4081-9b39-3475dc3cee6e1674798439069-Upto_40_Off_1.jpg"
            alt="image-logo">

        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/b7f81ba7-4f84-442c-95e4-cef268abfab51674798438841-Adidas_Originals_-_Blue_Version_x_Stan_Smith_Collection.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/87e1f261-38f6-4a74-a236-5db0da94bd8b1674798439025-Skechers_-_Exclusive_Styles.png"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/436176fe-f636-4d51-b2f7-cc3f66d255641674798438972-New_Collection_Lauch_First_On_Myntra_1.jpg"
            alt="">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/5c44e8c1-be3e-44d6-a5cb-c5ae061302181674798438961-New_Collection_Lauch_First_On_Myntra.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/8f0ca10b-2a1e-419b-8d5a-c4f48849582b1674798438984-New_Collection_Lauch_Only_On_Myntra.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/f109971a-50d8-4e00-a824-12681da647e21674798438951-New_Brand_Launch_1.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/b2a09c05-f9d7-4ba3-b57e-cd9ce3421ef41674798438940-New_Brand_Launch.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/b0ffa103-48cf-48f9-a6b4-87068056c94a1674798438907-Min_30_off.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/e878406e-ba3c-47d2-ac78-d9660f3281441674798438929-New_-_Exclusive_Collections.jpg"
            alt="image-logo">
        <img src="https://assets.myntassets.com/f_webp,w_122,c_limit,fl_progressive,dpr_2.0/assets/images/2023/1/27/a34a6506-0ddf-4b93-a727-5d83a939bd161674798439079-Upto_45_off.jpg"
            alt="image-logo">

    </div>

    <div>
        <img class="deal" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/7923d5ee-ec34-42bc-b3cb-ebd466b4acd61675674656068-07_SHOP-BY-CATEGORY.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/f6b91fcb-42a8-47a0-900a-6b7b8bc0cfe71675667705212-Shop-By-Category_Men_02.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/601c48bf-fff4-4c84-ae02-4f85b455d8311675667705224-Shop-By-Category_Men_03.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/04bc87b7-d481-4905-88ac-759a3d7334ab1675667705233-Shop-By-Category_Men_04.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/9bc32044-a921-4942-88ce-1b3ff3ca60351675667705244-Shop-By-Category_Men_05.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/7ebc3606-5d2e-4a4a-9e11-f1d8526bb70a1675667705256-Shop-By-Category_Men_06.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/33e53881-9f4d-4fa9-a8c0-bfa98929567d1675667705268-Shop-By-Category_Men_07.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/5aaba2ea-a277-4057-b6f6-20cc640e6f0c1675667705279-Shop-By-Category_Men_08.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/68dc05b5-4ade-4db6-9842-5c7437ef6c281675667705291-Shop-By-Category_Men_09.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/ff748c40-9bf4-484e-9404-33c9f517a0371675667705304-Shop-By-Category_Men_10.jpg"
            alt="">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/170a1d5d-98ee-4799-a2c1-42bc83ed48cf1675667705316-Shop-By-Category_Men_11.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/46923147-ddb7-4793-8825-87658b66039b1675667705327-Shop-By-Category_Men_12.jpg"
            alt="">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/0542cec2-1a60-45f3-b867-8076c8b1c07f1675667705338-Shop-By-Category_Men_13.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/77493187-d4ff-417d-b255-98192573d5291675667705359-Shop-By-Category_Men_15.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/47fb348d-0af8-462b-98e6-152c474e65d31675667705372-Shop-By-Category_Men_16.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/cf3342a8-d430-462f-91e4-114f448b03d01675667705385-Shop-By-Category_Men_17.jpg"
            alt="images4">
        <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/2/6/ad8db8e9-e205-447a-abe4-5fe87da4209b1675667705397-Shop-By-Category_Men_18.jpg"
            alt="images4">
    </div>


</div>